<div>
    <div>
        <a href="{{REF_INDEX}}">logo</a>
    </div>
    <nav>
        <ul>
            {{#NAV}}
                <li><a href="{{REF}}">{{NAME}}</a></li>
            {{/NAV}}
        </ul>
    </nav>
</div>